@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;700;800&display=swap);
@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

* {
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body { background-color: rgb(240, 255, 255);}
a { text-decoration: none; }
html { overflow-y: scroll; }


h1 {
  text-align: center;
}

h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(162, 164, 166);
  margin-bottom: 2%;
}

nav {
  background-color: rgb(226, 239, 218);
  width: 100%;
  display: flex;
}

.lang-menu {
  width: 40%;
  margin: auto;
  text-align: right;
}

input[class="check-en"] {
  position: relative;
  -webkit-appearance: none;
  vertical-align: text-top;
  background: #c6c6c6;
  outline: none;
  border-radius: 10px;
  transition: 0.7s;
}

input:checked[class="check-en"] {
  background: #03a9f4;
}

input[class="check-en"]:before {
  content: "";
  position: absolute;
  border-radius: 10px;
  background: #fff;
  transition: 0.7s;
}

input[class="check-es"] {
  position: relative;
  -webkit-appearance: none;
  vertical-align: text-top;
  background: #03a9f4;
  outline: none;
  border-radius: 10px;
  transition: 0.7s;
}

input:checked[class="check-es"] {
  background: #c6c6c6;
}

input[class="check-es"]:before {
  content: "";
  position: absolute;
  border-radius: 10px;
  background: #fff;
  transition: 0.7s;
}

.title-div {
  background-color: rgb(226, 239, 218);
  border-radius: 8px;
  text-align: justify;
  margin: auto;
}

.name-div, 
.occupation-div, 
.datetime-div, 
.office-div, 
.municipality-div, 
.feedback-div {
  background-color: rgb(226, 239, 218);
  margin: auto;
  border-radius: 8px;
}

.btn {
  background-color: rgb(184, 224, 190);
  border-radius: 8px;
  border: none;
  cursor: pointer;
  width: 85%;
}

.Submit {
  border-color: #04AA6D;
  color: green;
}

.Submit:hover {
  background-color: #04AA6D;
  color: white;
}

.input-div input {
  width: 90%;
  border: none;
  outline: 0;
}



/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 767px) {
  
  /* CSS */
  .lang-menu {
    font-size: 16px;
  }

  img {
    height: 90px;
    width: 90px;
    margin: 2%;
  }

  .logo {
  width: 40%;
  margin: auto;
  }

  .lang-menu > .a1 {
    color: black;
    padding-right: 3%;
  }

  input[class="check-en"] {
    width: 40px;
    height: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[class="check-en"]:before {
    width: 18px;
    height: 18px;
    top: 0;
    left: 0;
    transform: scale(1.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input:checked[class="check-en"]:before {
    left: 22px;
  }

  input[class="check-es"] {
    width: 40px;
    height: 20px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[class="check-es"]:before {
    width: 18px;
    height: 18px;
    top: 0;
    right: 0;
    transform: scale(1.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input:checked[class="check-es"]:before {
    right: 22px;
  }

  .title-div {
    width: 85%;    
    max-width: 700px;
    margin-top: 3%;
    padding: 0px 14px 15px 14px;
    font-size:15px;
    line-height: 1.5;
    border: 0.5px solid rgba(88, 127, 81, 0.20);  
    border-top: 10px solid rgb(88, 127, 81);  
    box-shadow: 4px 4px 7px 0 rgba(28, 9, 80, 0.15);
  }

  h1 { 
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
   }
  h2 { font-size: 24px; }
  label { padding-left: 8.5px; }
  .initial > p { margin-top: 3%; }


  .required {
    font-size: 13px;
    color: rgb(250, 50, 35);
  }

  .name-div, 
  .occupation-div, 
  .datetime-div, 
  .office-div, 
  .municipality-div, 
  .feedback-div {
    width: 85%;    
    max-width: 700px;
    padding: 2% 2% 2% 0.8%;
    font-size: 14px;
    box-shadow: 4px 4px 7px 0 rgba(28, 9, 80, 0.15);
    margin-top: 30px;
    border: 0.01px solid rgba(88, 127, 81, 0.20);
  }

  .feedback-div { height: 200px; }

  .container .input-div { padding-top: 2%; }

  .btn {
    height: 36px;
    width: 90px;
    font-size: 16px;
    letter-spacing: .2px;
    font-weight: 400;
  }

  .buttom-div {
    width: 85%;    
    max-width: 700px;
    margin: auto;
    padding: 3% 1% 2% 0;
  }

  .never {
    width: 85%;    
    max-width: 700px;
    margin: auto;
    padding-bottom: 2%;
    text-align: justify;
    font-size:14px;
  }

  input[name = 'firstname'] {
    margin-bottom: 8px;
  }

  .input-div input {
    height: 25px;
    width: 260px;
    border-radius: 5px;
    border-bottom: 2.0px solid rgb(220,215,215);
    font-size: 13px;
    margin-right: 20px;
    margin-left: 2px;
    padding-left: 6.5px;
  }

  select {
    height: 25px;
    width: 260px;
    border: none;
    outline: 0;
    border-radius: 5px;
    font-size: 13px;
    border-bottom: 2.0px solid rgb(220,215,215);
    margin-right: 14px;
    margin-left: 2px;
    padding-left: 2px;
  }

  #office { 
    height: 25px;
    margin-top: 10px; 
    margin-left: 20px;
  }

  textarea {
    height: 100px;
    width: 90%;
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 1.5;
    border-radius: 7px;
    outline: 0;
    resize: none;
    border: 0.05px solid #ccc;
    box-shadow: 1px 1px 1px rgba(28, 9, 80, 0.10);
    padding-top: 5px;
    margin-left: 2px;
    padding-left: 6.5px;
  }

  #the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    position: absolute;
    font-size: 10px;
    margin-left: 14px;
  }

}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 500px) and (max-width: 767px) {
  
  /* CSS */
  .lang-menu {
    font-size: 13px;
  }

  img {
    height: 90px;
    width: 90px;
    margin: 2%;
  }

  .logo {
  width: 40%;
  margin: auto;
}

  .lang-menu > .a1 {
    color: black;
    padding-right: 3%;
  }

  input[class="check-en"] {
    width: 32px;
    height: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[class="check-en"]:before {
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    transform: scale(1.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input:checked[class="check-en"]:before {
    left: 18px;
  }

  input[class="check-es"] {
    width: 32px;
    height: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[class="check-es"]:before {
    width: 14px;
    height: 14px;
    top: 0;
    right: 0;
    transform: scale(1.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input:checked[class="check-es"]:before {
    right: 18px;
  }

  .title-div {
    width: 85%;
    margin-top: 3%;
    padding: 0px 14px 15px 14px;
    font-size:12px;
    line-height: 1.5;
    border: 0.5px solid rgba(88, 127, 81, 0.20);  
    border-top: 8px solid rgb(88, 127, 81);  
    box-shadow: 4px 4px 7px 0 rgba(28, 9, 80, 0.15);
  }

  h1 { 
    font-size: 22px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  h2 { font-size: 16px; }
  label { padding-left: 8.5px; }
  .initial > p { margin-top: 3%; }


  .required {
    font-size: 11px;
    color: rgb(250, 50, 35);
  }

  .name-div, 
  .occupation-div, 
  .datetime-div, 
  .office-div, 
  .municipality-div, 
  .feedback-div {
    width: 85%;
    padding: 2% 2% 2% 0.8%;
    font-size: 12px;
    box-shadow: 4px 4px 7px 0 rgba(28, 9, 80, 0.15);
    margin-top: 30px;
    border: 0.01px solid rgba(88, 127, 81, 0.20);
  }

  .feedback-div { height: 150px; }
  .container .input-div { padding-top: 4%; }

  .btn {
    height: 25px;
    width: 80px;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: 400;
  }

  .buttom-div {
    width: 85%;
    margin: auto;
    padding: 3% 1% 2% 0;
  }

  .never {
    width: 85%;
    margin: auto;
    padding-bottom: 2%;
    text-align: justify;
    font-size:12px;
  }

  input[name = 'firstname'] {
    margin-bottom: 8px;
    margin-right: 5px;
  }

  .input-div input {
    height: 24px;
    width: 45%;
    border-radius: 5px;
    border-bottom: 2.0px solid rgb(220,215,215);
    font-size: 11px;
    margin-right: 14px;
    margin-left: 2px;
    padding-left: 6.5px;
  }

  select {
    height: 24px;
    width: 30%;
    border: none;
    outline: 0;
    border-radius: 5px;
    font-size: 12px;
    border-bottom: 2.0px solid rgb(220,215,215);
    margin-right: 14px;
    margin-left: 2px;
    padding-left: 2px;
    margin-right: 5px;
  }

  #office { 
    height: 24px;
    margin-top: 10px; 
  }

  textarea {
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-right: 14px;
    margin-left: 10px;
    padding-left: 5px;
    height: 70px;
    width: 90%;
    line-height: 1.5;
    border-radius: 7px;
    outline: 0;
    resize: none;
    border: 0.05px solid #ccc;
    box-shadow: 1px 1px 1px rgba(28, 9, 80, 0.10);
  }

  #the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    position: absolute;
    font-size: 10px;
    margin-left: 14px;
  }
  
}



/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 500px
*/

@media (min-width: 320px) and (max-width: 500px) {
  
  /* CSS */
  .lang-menu {
    font-size: 12px;
  }

  img {
    height: 40%;
    width: 40%;
    margin: 5%;
  }

  .logo {
  width: 40%;
  margin: auto;
}

  .lang-menu > .a1 {
    color: black;
    padding-right: 3%;
  }

  input[class="check-en"] {
    width: 32px;
    height: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[class="check-en"]:before {
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    transform: scale(1.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input:checked[class="check-en"]:before {
    left: 18px;
  }

  input[class="check-es"] {
    width: 32px;
    height: 15px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[class="check-es"]:before {
    width: 14px;
    height: 14px;
    top: 0;
    right: 0;
    transform: scale(1.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input:checked[class="check-es"]:before {
    right: 18px;
  }

  .title-div {
    width: 85%;
    margin-top: 3%;
    padding: 0px 14px 15px 14px;
    font-size:12px;
    line-height: 1.4;
    border: 0.5px solid rgba(88, 127, 81, 0.20);  
    border-top: 8px solid rgb(88, 127, 81);  
    box-shadow: 4px 4px 7px 0 rgba(28, 9, 80, 0.15);
  }

  h1 { 
    font-size: 18px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  h2 { font-size: 14px; }
  label { padding-left: 8.5px; }
  .initial > p { margin-top: 3%; }

  .required {
    font-size: 11px;
    color: rgb(250, 50, 35);
  }

  .name-div, 
  .occupation-div, 
  .datetime-div, 
  .office-div, 
  .municipality-div, 
  .feedback-div {
    width: 85%;
    padding: 2% 2% 2% 0.8%;
    font-size: 12px;
    box-shadow: 4px 4px 7px 0 rgba(28, 9, 80, 0.15);
    margin-top: 30px;
    border: 0.01px solid rgba(88, 127, 81, 0.20);
  }

  .feedback-div { height: 150px; }
  .container .input-div { padding-top: 4%; }


  .btn {
    height: 25px;
    width: 80px;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: 400;
  }

  .buttom-div {
    width: 85%;
    margin: auto;
    padding: 3% 1% 2% 0;
  }

  .never {
    width: 85%;
    margin: auto;
    padding-bottom: 6%;
    text-align: justify;
    font-size:12px;
  }

  input[name = 'firstname'] {    
    margin-bottom: 8px;
    margin-right: 5px;
  }

  .input-div input {
    height: 20px;
    width: 50%;
    border-radius: 5px;
    border-bottom: 2.0px solid rgb(220,215,215);
    font-size: 11px;
    margin-right: 14px;
    margin-left: 2px;
    padding-left: 6.5px;
  }


  select {
    height: 20px;
    width: 35%;
    border: none;
    outline: 0;
    border-radius: 5px;
    font-size: 12px;
    border-bottom: 2.0px solid rgb(220,215,215);
    margin-right: 14px;
    margin-left: 2px;
    padding-left: 2px;
  }

  #office { 
    height: 20px;
    margin-top: 10px; 
  }


  textarea {
    font-size: 12px;
    letter-spacing: 1.5px;
    margin-right: 14px;
    margin-left: 10px;
    padding-left: 5px;
    height: 70px;
    width: 90%;
    line-height: 1.5;
    border-radius: 7px;
    outline: 0;
    resize: none;
    border: 0.05px solid #ccc;
    box-shadow: 1px 1px 1px rgba(28, 9, 80, 0.10);
  }

  #the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    position: absolute;
    font-size: 10px;
    margin-left: 14px;
  }

}



/* 
  ##Device = Most of the Fold Smartphones Mobiles (Portrait)
  ##Screen = B/w 50px to 320px
*/

@media (min-width: 50px) and (max-width: 320px) {
  
  /* CSS */
  .lang-menu {
    font-size: 10px;
  }

  img {
    height: 40%;
    width: 40%;
    margin: 5%;
  }

  .logo {
  width: 40%;
  margin: auto;
}

  .lang-menu > .a1 {
    color: black;
    padding-right: 3%;
  }

  input[class="check-en"] {
    width: 25px;
    height: 12px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[class="check-en"]:before {
    width: 12px;
    height: 12px;
    top: 0;
    left: 0;
    transform: scale(1.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input:checked[class="check-en"]:before {
    left: 13px;
  }

  input[class="check-es"] {
    width: 25px;
    height: 12px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  input[class="check-es"]:before {
    width: 12px;
    height: 12px;
    top: 0;
    right: 0;
    transform: scale(1.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  input:checked[class="check-es"]:before {
    right: 13px;
  }

  .title-div {
    width: 85%;
    margin-top: 3%;
    padding: 0px 14px 15px 14px;
    font-size: 9px;
    line-height: 1.5;
    border: 0.05px solid rgba(88, 127, 81, 0.20);  
    border-top: 8px solid rgb(88, 127, 81);  
    box-shadow: 4px 4px 7px 0 rgba(28, 9, 80, 0.15);
  }

  h1 { 
    font-size: 13px; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
  }
  h2 { font-size: 14px; }
  label { padding-left: 8.5px; }
  .initial > p { margin-top: 3%; }


  .required {
    font-size: 8px;
    color: rgb(250, 50, 35);
  }

  .name-div, 
  .occupation-div, 
  .datetime-div, 
  .office-div, 
  .municipality-div, 
  .feedback-div {
    width: 85%;
    padding: 4% 2% 6% 2%;
    font-size: 10px;
    box-shadow: 4px 4px 7px 0 rgba(28, 9, 80, 0.15);
    margin-top: 30px;
    border: 0.01px solid rgba(88, 127, 81, 0.20);
  }

  .feedback-div { height: 135px; }
  .container .input-div { padding-top: 4%; }

  .btn {
    height: 25px;
    width: 60px;
    font-size: 10px;
    letter-spacing: .5px;
    font-weight: 400;
  }

  .buttom-div {
    width: 85%;
    margin: auto;
    padding: 6% 1% 4% 0;
  }

  .never {
    width: 85%;
    margin: auto;
    padding-bottom: 6%;
    text-align: justify;
    font-size: 9px;
  }

  input[name = 'firstname'] {
    margin-bottom: 8px;
    margin-right: 5px;
  }

  .input-div input {
    height: 16px;
    width: 60%;
    border-radius: 5px;
    border-bottom: 2.0px solid rgb(220,215,215);
    font-size: 9px;
    margin-right: 14px;
    margin-left: 2px;
    padding-left: 6.5px;
  }


  select {
    height: 16px;
    width: 45%;
    border: none;
    outline: 0;
    border-radius: 5px;
    font-size: 9px;
    border-bottom: 2.0px solid rgb(220,215,215);
    margin-right: 14px;
    margin-left: 2px;
    padding-left: 2px;
  }

  #office { 
    height: 16px;
    margin-top: 10px; 
  }


  textarea {
    font-size: 9px;
    letter-spacing: 1.0px;
    margin-right: 14px;
    margin-left: 10px;
    padding-left: 5px;
    height: 80px;
    width: 90%;
    line-height: 1.5;
    border-radius: 7px;
    outline: 0;
    resize: none;
    border: 0.05px solid #ccc;
    box-shadow: 1px 1px 1px rgba(28, 9, 80, 0.10);
  }

  #the-count {
    float: right;
    padding: 0.1rem 0 0 0;
    font-size: 0.875rem;
    position: absolute;
    font-size: 8px;
    margin-left: 14px;
  }

}
